{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
    
        <div class="col-md-12">

            <header class="page-header qa-question-header clearfix">
                <h2 class="pull-left">Top Questions</h2>
                <ul class="nav nav-pills pull-right" style="margin-top:15px;">
                    <li class="active"><a href="#">Hot</a></li>
                    <li><a href="#">Newest</a></li>
                    <li><a href="#">Best</a></li>
                    <li><a href="#">Featured</a></li>
                </ul>
            </header>

            {% for question in data._items %}
                {% with %}
                    {% set prefix = '[CS] ' %}
                    {% include 'partials/question-list-item.html' %}
                {% endwith %}
            {% endfor %}

        </div>

    </div>
</div>
{% endblock %}
