{% extends 'base.html' %}

{% block title %}{{ data.title }} | {{ super() }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    
        <div class="col-md-12">

            <header class="page-header qa-question-header">
                {#<div class="qa-course">
                    in <strong><a href="#">Computer Science 131</a></strong>
                </div>#}
                {% if data.tags %}
                <div class="qa-tags">
                    about 
                    {% for tag in data.tags %}
                        <a href="#"><span class="label label-default">{{ tag }}</span></a>
                    {% endfor %}
                </div>
                {% endif %}
                <h2>{{ data.title }}</h2>
            </header>

            <div class="qa-question">
                {% with %}
                    {% set post = data%}
                    {% include 'partials/post.html' %}
                {% endwith %}
            </div>

            <header class="page-header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Votes</a></li>
                    <li><a href="#">Activity</a></li>
                    <li><a href="#">Newest</a></li>
                </ul>
                <h3>N Answers</h3>
            </header>

            {% for answer in data.answer %}
                <div class="qa-answer">
                    {% with %}
                        {% set post = answer%}
                        {% include 'partials/post.html' %}
                    {% endwith %}
                </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
